/*Stylesheet by Kerry C. McAlister, 2018 */

body{
    background-color: 	#282828;
}

h1{
    color: #b20000;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
}

#title{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.5em;
	text-align: center;
    font-weight: bold;   
}


#descript{
    font-family: 'Archivo Narrow', sans-serif;
    color:#b20000;
    font-weight: 300;
    font-size: 0.9em;
	padding-bottom: 20px;
	padding-top: 10px;
}

#credit{
    position: fixed;
    bottom: 0px;
    right: 5px;
    font-family: 'Archivo Narrow', sans-serif;
    color: #b20000;
    font-size: 0.9em;
}


.disasterState{
    fill: #ffffff;
    stroke: #999;
    stroke-width: 1px;
    stroke-linecap: round;
    
}

.county {
    fill: #FFF;
    stroke: rgb(0, 0, 0);
    stroke-width: 2px;
}

.gratlines{
    fill: none;
    stroke: #e6f0ff;
    stroke-width: 1px;
}

.gratBackground {
    fill: #66a3ff
}

.chart {
    float: right;
    margin: 7px 20px 0 0;
}

.chartTitle {
     font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.25em;
    font-weight: bold;
}

.chartBackground {
    fill: rgba(128,128,128,.2);
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
     font-family: 'Archivo Narrow', sans-serif;
    font-size: 1em;
    fill: #999;
    font-weight: bold;
}

.numbers {
    fill: white;
    font-family: sans-serif;
}

.dropdown {
    position: absolute;
    top: 100px;
    left: 40px;
    z-index: 10;
     font-family: 'Archivo Narrow', sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

option {
    font-weight: normal;
}

.infolabel {
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: rgba(1,1,1,0.5);
    border: solid thin: rgba(1,1,1,0.5);
    padding: 5px 10px;
font-family: 'Archivo Narrow', sans-serif;
}

.infolabel h2 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}

.map{
	
    border: medium solid #999;
}